apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
spec:
  selector:
    app: {{ deployment_name }}
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: {{ service_port }}
      targetPort: {{ target_port }}
      nodePort: {{ node_port }}